html {
  height: 100%;
  background-color: lightblue;
}

body {
  height: 100%;
  background-color: lightblue;
}

#header {
  text-align: center;
}

#framesofthegame {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thegame {
  height: 625px;
  width: 600px;
}

img {
  max-width: 100%;
  height: auto;
}
